body {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.systemBars {
  background-color: #035511;
  width: 100%;
}

.systemBarTop {
  width: 100%;
  background-image: url("../images/androidStatusBar.svg");
  background-size: 3.75em;
  background-position: 98.6%;
  background-repeat: no-repeat;
}

.clock {
  color: #DAE6DC;
  font-family: 'Roboto', sans-serif;
  font-size: .75em;
  weight: 700;
  padding: .63em 0 .63em .31em;
  width: 100%;
}

.appBars {
  background-color: #5FB75E;
  width: 100%;
}

.appBarTop {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5);
  margin-bottom: .625em;
}

.menuContainer {
  display: flex;
  align-items: center;
  height: 3.75em;
  justify-content: flex-end;
  margin: 0 5.5% 0 5.5%;
}

.hamburger {
  /*margin-left: 1.25em;*/
  width: 1.13em;
  margin-right: auto;
}

.bell { /* alert notification for stop closures, bus cancellations, etc: this would include reroutes and out-of-service-buses */
  margin-right: .32em;
  width: 1.1em;
  height: auto;
}

.query {
  margin-left: .32em;
  /*margin-right: 1.25em;*/
  width: 1.2em;
  height: auto;
}

/* info on stop */
.stopInfo {
  width: 100%;
  padding: 0 5.5%;
  background-color: #fff;
}

.currentStop {
  font-size: .875em;
  line-height: 1.43
  font-weight: 300;
  padding-top: .625em;
}

.stopName {
  font-family: Optima, 'Belleza', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

.trafficDir {
  font-family: Optima, 'Belleza', sans-serif;
  font-size: 1em;
  font-weight: 400;
  width: 59%;
}
/* end of info on stop */

/* table */
.main {
  margin: 1.25em 0 0.625em 0;
  padding: 0 5.5% 6.25vh 5.5%;
  /*margin: 1.25em 5.5% 0.625em 5.5%;
  padding: 0 .3125em 6.25vh .3125em;*/
  height: calc(100vh - 16.4em);
  overflow-y: scroll;
  /*width: 88.9%;*/
  box-shadow: 0 2px 2px 1px rgba(0,0,0,0.22);
}
.tabHeadContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between
  width: 100%;
}

.tabHead {
  font-size: .875em;
  font-weight: 300;
  line-height: 1.5;
}

.alignRight {
  margin-left: auto;
  text-align: right;
}

.flexTable {
  display: flex;
  display: -webkit-flex;
  flex-direction: : row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.tableRow {
  padding-bottom: .75em;
  border-bottom: 1px solid #888;
  margin-bottom: .75em;
}

.routeSect {
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.route {
  font-weight: 600;
  line-height: 1.5;
}

.busDir {
  font-weight: 400;
}

.etaSect {
  width: 79.9%;
  margin-left: auto;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.depart {
  font-weight: 600;
  display: inline-block;
}

.destSect {
  width: 100%;
  font-size: .875em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .5em 0;
}

.dest {
  font-weight: 600;
}

.reroute {
  color: red;
}

.outOfService {
  color: grey;
}

.heading {
  font-size: 1.125em;
  padding: 10px 0;
}
/* end bus list */

.arrow {
  width: 100%;
  height: 1.563em;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.downArrow {
  width: .8em;
  height: .4em;
  display: inline-block;
}

.appBarBottom {
  height: 1.563em;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screenIndic {
  width: 1.56em;
  height: auto;
}

.systemBarBottom {
  height: 3em;
  width: 100%;
}

.sysContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3em;
  margin: 0 22.2%;
}

.triSysButton {
  width: 1em;
  height: 1em;
}

.cirSysButton {
  width: 1em;
  height: 1em;
}

.sqrSysButton {
  width: 1em;
  height: 1em;
}
